.story-card {
  border: 2px solid #000000;
  text-align: center;
  padding: 10%
}

h3{
  margin: 0;
}

p{
  margin: 0
}

.get-directions-btn {
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  color: white;
  background-color: #1278D1;
}

.view-story-btn {
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  color: white;
  background-color: #1278D1;
}


