.stories-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  padding: 2%;
}

@media screen and (min-width: 730px) {
  .stories-container {
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (min-width: 1100px) {
  .stories-container {
  grid-template-columns: repeat(3, 1fr);
}
}
