.Header {
    grid-area: Header;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #0B1F51;
}