
/* .Header{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    font-family: 'Noto Serif', serif;
    grid-area: Header;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #0B1F51;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
} */

.navbar {
  margin-bottom: 20px;
  background: #223773;
}

#brand-name {
  color: white;
  font-weight: bold;
}

.story-submit {
    font-family: 'Noto Serif', serif;
    height: 60px;
    width: 200px;
    margin: 5%;
    border-radius: 26px;
    border: transparent;
    font-size: x-large;
    background: #088C7F;
    color:#F2F2F2;
    cursor:pointer;
    align-items: center;
}

.story-submit:hover {
    background: #F25E95
}
