
.Nav-bar {
    grid-area: Nav-bar;
    background:#6355D5;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 90px 5px;
}

.story-submit {
    font-family: 'Noto Serif', serif;
    height: 60px;
    margin: 30px 0 0 0;
    width: 200px;
    border-radius: 26px;
    border: transparent;
    font-size: x-large;
    background: #75B7E0;
    color:#0B1F51;
    cursor:pointer
}

.story-submit:hover {
    background: #4F9CEB
}