
.Nav-bar {
    grid-area: Nav-bar;
    background:#6355D5;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 40px 10px;
}

.story-submit {
    height: 60px;
    margin: 30px 0 0 0;
    width: 200px;
    border-radius: 26px;
    border: transparent;
    font-size: x-large;
    background: #DCE9F7;
    color:#092052
}