.Instructions {
    grid-area: Instructions;
    background: #22BCF4;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 4px 90px 4px;
    height: 300px;
}