@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.instructions {
    font-family: 'Roboto';
    text-align: center;
    color: rgb(58, 58, 58);
    background-color: #f2f0e3;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px white solid;
    /* overflow: hidden; */
}

.instructions-text {
    margin: 10px 5px 10px 5px;
}

.disclaimer-text {
    margin: 0px 5px 10px 5px;
    font-weight: bold;
}

