@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.instructions {
    font-family: 'Roboto';
    text-align: center;
    color: rgb(58, 58, 58);
    background-color: hsl(52, 37%, 92%);
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    min-width: 275px;
}


.user-instructions {
    margin-top: 10px;
    margin-bottom: 10px;
}
.disclaimer {
    margin: 0px 5px 10px 5px;
    font-weight: bold;
}

